* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(128, 152, 72);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}
.container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background: #a4be78;
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 40%;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 0rem 2rem;
}
.sneaker {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sneaker img {
  width: 15rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}
.circle {
  width: 10rem;
  height: 10rem;
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}
.info h1 {
  font-size: 2rem;
  transition: all 0.75s ease-out;
}
.info h3 {
  font-size: 1rem;
  padding: 2rem 0rem;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}
.sizes {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}
.sizes button {
  padding: 0.2rem 1rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #585858;
}
button.active {
  background: #585858;
  color: white;
}
.purchase {
  margin-top: 3rem;
  transition: all 0.75s ease-out;
}
.purchase button {
  width: 100%;
  padding: 0.5rem 0rem;
  background: #556927;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}
